<!DOCTYPE html>
<html>
<head>
	<title>Page exemple</title>
	<link rel="stylesheet" type="text/css" href="principale.css">
</head>
<body>
	<div class="header">
		<h1>Header</h1>
	</div>
	<div class="body">
		<div class="colonne-gauche">
			<h2>Favoris</h2>
			<ol>
        <li>.</li>
      </ol>

      <h2>Ensemble de HTML (html/css/js)</h2>
      <ol>
        <li>Thème néon</li>
        <li>.</li>
      </ol>

      <h2>Ensemble de HTML avec python (html/css/js/python)</h2>
      <ol>
        <li>Chat</li>
      </ol>

      <h2>python</h2>
      <ol>
        <li>.</li>
      </ol>

      <h2>js</h2>
      <ol>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
      </ol>
		</div>









		<div class="colonne-droite">
			<h2>Colonne droite</h2>
			<p>Contenu de la colonne droite</p>
		</div>
	</div>
</body>
</html>